*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo{
    margin-left: 150px;
    margin-top: 10px;
    width: 5%;
    height: 2%;
}
body{
    background: #ffe259;
    background: -webkit-linear-gradient(to right, #ffe259, #ffa751);
    background: linear-gradient(to right, #ffe259, #ffa751);
}
.form-box{
    display: flex;
    width: 1080px;
    height: 530px;
    margin-top: 45px;
    margin-left: 300px;
    background-color: #fff;
    border-radius: 5px;
}
#Preset-form{
    display: inline;
}
#preset{
    font-family:'Nunito', sans-serif;
    padding-top: 75px;
    padding-left: 240px;
    padding-bottom: 45px;
    color: #696969;
}
label{
    font-family:'Nunito', sans-serif;
    font-weight: bold;
    margin-left: 100px;
    display: inline;
}
select{
    font-family:'Nunito', sans-serif;  
    margin-left: 50px;
    outline: none 
}
option{
    outline: none;
}
#exam{
    margin-left: 175px;
}
#document{
    margin-left: 115px;
    margin-top: 75px;
}
#image-box-preset{
    font-family:'Nunito', sans-serif; 
    margin-top: 75px;
    margin-left: 75px;
}
#preset-submit{
    margin-top: 50px;
    margin-left: 245px;
    padding: 5px 10px;
    background-color: #008CBA;
    color: white;
    font-weight: bold;
    font-family:'Nunito', sans-serif; 
    border: none;
    border-radius: 5px;
}
#preset-submit:hover{
    background-color:#6fcc39;
    outline: none;
}

#custom-form{
    display: inline;
}
#custom{
    font-family:'Nunito', sans-serif;
    color: #696969;
    padding-top: 75px;
    padding-bottom: 60px;
    margin-left: 200px;
}
#height{
    margin-bottom: 45px;
}
#height-custom{
    margin-left: 90px;
    margin-bottom: 40px;
}
#width-custom{
    margin-left: 90px;
    margin-bottom: 40px;
}
#size-custom{
    margin-left: 90px;
    margin-bottom: 55px;
}
#image-box-custom{
    margin-left: 37px;
}
#custom-submit{
    margin-top: 50px;
    margin-left: 220px;
    padding: 5px 10px;
    background-color: #008CBA;
    color: white;
    font-weight: bold;
    font-family:'Nunito', sans-serif; 
    border: none;
    border-radius: 5px;
}
#custom-submit:hover{
    background-color:#6fcc39;
    outline: none;
}
.form-line{
    border-left: 1px solid;
    height: 400px;
    margin-top: 70px;
}
