*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo{
    margin-top: 10px;
    width: 20%;
    height: 2%;
}
body{
    background: #ffe259;
    background: -webkit-linear-gradient(to right, #ffe259, #ffa751);
    background: linear-gradient(to right, #ffe259, #ffa751);
}
.form-box{
    width: 340px;
    height: 1200px;
    margin-left: 20px;
    display: grid;
}
#preset-form{
    float: left;
}
#preset{
    padding-left: 135px;
    padding-top: 30px;
}
label{
    font-family:'Nunito', sans-serif;
    font-weight: bold;
    margin-left: 50px;
    position: absolute;
}
select{
    font-family:'Nunito', sans-serif;  
    margin-left: 50px;
    outline: none;
}
option{
    outline: none;
    background-color: #ffa751;
}
#doc{
    font-family:'Nunito', sans-serif;
    font-weight: bold;
    margin-left: 50px;
    position: absolute;
    margin-top: 75px;
}
#document{
    margin-left: 150px;
}
#upload{
    font-family:'Nunito', sans-serif;
    font-weight: bold;
    margin-left: 120px;
    position: absolute;
    margin-top: 75px;
}
#image-box-preset{
    font-family:'Nunito', sans-serif; 
    margin-top: 125px;
    margin-left: 70px;
    border: none;
}
#preset-submit{
    margin-top: 75px;
    margin-left: 140px;
    background-color: #008CBA;
    color: white;
    font-weight: bold;
    font-family:'Nunito', sans-serif; 
    border: none;
    border-radius: 5px;
}
.form-line{
    border-left: 1px solid;
    border-width: 300px;
    height: 1px;
    margin-top: 550px;
    margin-left:20px;
    position: absolute;
}
#custom-form{
    position: absolute;
    margin-left: none;
    float: left;
    clear: left;
}
#custom{
    font-family:'Nunito', sans-serif;
    color: #696969;
    position: relative;
    margin-left: 130px;
    margin-top: 5px;
}
select{
    font-family:'Nunito', sans-serif;  
    margin-left: 100px;
    outline: none 
}
#height-custom{
    margin-left: 150px;
    margin-bottom: 60px;
}
#width-custom{
    margin-left: 150px;
    margin-bottom: 60px;
}
#size-custom{
    margin-left: 150px;
    margin-bottom: 65px;
}
#Upload-custom{
    margin-left: 120px;
}
#image-box-custom{
    margin-left: 100px;
    margin-top: 75px;
    outline: none;
}
#custom-submit{
    margin-top: 70px;
    margin-left: 140px;
    padding: 5px 10px;
    background-color: #008CBA;
    color: white;
    font-weight: bold;
    font-family:'Nunito', sans-serif; 
    border: none;
    border-radius: 5px;
}
option{
    outline: none;
}